<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>   
    <script src="/stylesheets/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="/stylesheets/cufon-yui.js" type="text/javascript"></script>
    <script src="/stylesheets/cufon-replace.js" type="text/javascript"></script>
    <script src="/stylesheets/Lobster_13_400.font.js" type="text/javascript"></script>
    <script src="/stylesheets/NewsGoth_BT_400.font.js" type="text/javascript"></script>
    <script src="/stylesheets/FF-cash.js" type="text/javascript"></script>
    <script src="/stylesheets/easyTooltip.js" type="text/javascript"></script>
	<script src="/stylesheets/script.js" type="text/javascript"></script>
    <script src="/stylesheets/bgSlider.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Hersheys', 'Lindt', 'Ghirardelli', 'Nestle'],
    <% for (var i=0 ; i < graphData.length ;i++ ) { %>
    [<%= graphData[i].Hersheys%>, <%= graphData[i].Lindt%>, <%= graphData[i].Ghirardelli%>, <%= graphData[i].Nestle%>],
  	<%}%>   
  ]);
  
  
  

  var options = {
    title: 'Charges of subatomic particles',
    legend: { position: 'top', maxLines: 2 },
    colors: ['#5C3292', '#1A8763', '#871B47', '#999999'],
    interpolateNulls: false,
  };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

</head>
<body id="page6">
	<div id="bgSlider"></div>
    <div class="bg_spinner"></div>
	<div class="extra">
        <!--==============================header=================================-->
        <header>
        	<div class="top-row">
            	<div class="main">
                	<div class="wrapper">
                        <h1><a href="index.html">GoodCook</a></h1>
                        <ul class="pagination">
                            <li class="current"><a href="/stylesheets/bg-img1.jpg"></a></li>
                            <li><a href="/stylesheets/bg-img2.jpg"></a></li>
                            <li><a href="/stylesheets/bg-img3.jpg"></a></li>
                        </ul>
                                                                               <div class="banner">
                                    <strong class="title">
                                        <strong>CloudMarket</strong>
                                    </strong>

                                </div>
                    </div>
                </div>
            </div>
            <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
                            <ul class="menu">
                                <li><a href="/">Home</a></li>
                               
                                <% if (userName == "admin") { %>
								<li><a class="active" href="/analysis">Analysis</a></li>
								<li><a href="/dueOrders">Due Orders</a></li>
								<li><a href="/realtimedata">RTD</a></li>
								<li><a href="/signOut">Sign-Out</a></li>
								
								 <% } else if (userName == "") { %>
								  <li><a href="/aboutUs">About Us</a></li>
								 <li><a href="/SignUp">Sign-Up</a></li>
                                <li><a href="/signIn">Sign-In</a></li>
								<% } else { %>
								<li><a href="/myGrocery">My Grocery</a></li>
								<li><a href="/addProductForm">Add Product</a></li>
								<li><a href="/signOut">Sign-Out</a></li>
                                <% } %>
                                <li class="last"><a href="/contacts">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
			<div class="ic">More Website Templates @ TemplateMonster.com - September 26, 2011!</div>
        </header>
        <!--==============================content================================-->
        <div class="inner">
            <div class="main">
                <section id="content">
                    <div class="indent">
                    	<div class="wrapper">
                    	
                    	            <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
					<ul class="menu">
                                <li><a href="/analysis">Line Graph</a></li>
                                <li><a  href="/barGraph">Bar Graph</a></li>
                        
								<li><a href="/locationGraph">Location Graph</a></li>
								<li><a href="/pieChart">Pie Chart</a></li>
								<li><a class="active" href="/histrogramGraph">Histogram</a></li>

							
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
					<table align="center">

					  <tr>
						<td colSpan=2>
						  <div id="chart_div" style="align: center;width: 940px; height: 500px;" ></div>
						</td>
					  </tr>
					</table>
					
                        </div>
                    </div>
                </section>
                <div class="block"></div>
            </div>
        </div>
    </div>
	<!--==============================footer=================================-->
    <footer>
    	<div class="padding">
        	<div class="main">
                <div class="wrapper">
                	<div class="fleft footer-text">
                    	<span>Cloud Market</span> &copy; 2014
                        <strong>Website Template by CloudMarket.com</a></strong>
                        <!-- {%FOOTER_LINK} -->
                    </div>
                    <ul class="list-services">
                    	<li>Link to Us:</li>
                    	<li><a class="tooltips" title="facebook" href="https://www.facebook.com/"></a></li>
                        <li class="item-1"><a class="tooltips" title="twitter" href="#"></a></li>
                        <li class="item-2"><a class="tooltips" title="linkedin" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>